.logo {
    object-fit: contain;
}



header {
    background-color: rgb(109, 160, 205);
  
}

.bg-img {
    height: 100%;
    width: 1000%;
    background-image: url("https://www.kanpai.fr/sites/default/files/styles/og/public/naruto-tag.jpg");
}



