.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: #18191e;
  z-index: 998;
}

.logo {
  padding-top: 35px;
  padding-right: 110px;
  width: 100px;
  height: 50px;
}

.logo1 {
  padding-top: 35px;
  justify-content: left;
  width: 100px;
  height: 50px;
  margin-right: auto;
}

.header1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: #18191e;
  z-index: 998;
}

.nav {
  margin-left: 2rem;
}

.navList {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navList li {
  margin-right: 1rem;
}

.navList a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.navList a:hover {
  color: #ff0000;
}
